<div class="card">
  <div class="card-body">
    <form [formGroup]="ngForm" novalidate>
      <div class="form-group">
        <label for="tipo">Tipo de vehículo</label>
        <input name="tipo" id="tipo" class="form-control" type="text" formControlName="tipo" #tipo>
      </div>
      <div *ngIf="ngForm.controls['tipo'].invalid && (ngForm.controls['tipo'].dirty || ngForm.controls['tipo'].touched)" class="alert alert-danger">
        <div>Campo obligatorio</div>
      </div>
      
      <div class="form-group">
        <label for="placas">Placas</label>
        <input name="placas" id="placas" class="form-control" type="text" formControlName="placas" #placas>
      </div>
      <div *ngIf="ngForm.controls['placas'].invalid && (ngForm.controls['placas'].dirty || ngForm.controls['placas'].touched)" class="alert alert-danger">
        <div>Campo obligatorio</div>
      </div>

      <div class="form-group">
        <label for="soatfec">Vencimiento de SOAT</label>
        <div class="input-group">
          <input id="soatfec" class="form-control" type="text" formControlName="soatfec" ngbDatepicker #soatfec="ngbDatepicker" placeholder="yyyy-mm-dd">
          <button type="button" class="btn btn-outline-secondary" (click)="soatfec.toggle()"><fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
          </button>
        </div>
      </div>
      <div *ngIf="ngForm.controls['soatfec'].invalid && (ngForm.controls['soatfec'].dirty || ngForm.controls['soatfec'].touched)" class="alert alert-danger">
        <div>Campo obligatorio</div>
      </div>

      <div class="form-group">
        <label for="serviciofec">Próximo servicio</label>
        <div class="input-group">
          <input name="serviciofec" id="serviciofec" class="form-control" type="text" formControlName="serviciofec" ngbDatepicker #serviciofec="ngbDatepicker" placeholder="yyyy-mm-dd">
          <button type="button" class="btn btn-outline-secondary" (click)="serviciofec.toggle()"><fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
           </button>
        </div>
      </div>
      <div *ngIf="ngForm.controls['serviciofec'].invalid && (ngForm.controls['serviciofec'].dirty || ngForm.controls['serviciofec'].touched)" class="alert alert-danger">
        <div>Campo obligatorio</div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="crearVehiculo()" [disabled]="ngForm.pristine || ngForm.invalid">Crear vehículo</button>
      </div>
    </form>
  </div>
</div>